__pycache__/
backups/
old_parse/
grc/*.py
grc/null_detect.grc
images/
recordings/old/
recordings/glitched_badge/glitch_long.wav
temp/
signal.bin
recorder.wav
synthetic_*.wav
symbols.txt
temp.txt
multi_results.txt
