__pycache__/
backups/
old_parse/
grc/*.py
images/
signal.bin
trans_output.wav
trans_output_trim.wav
trans_output_trim_resamp.wav
recorder.wav
synthetic_signal.wav
symbols.txt
temp.txt
multi_results.txt
recordings/glitched_badge/glitch_long.wav
